<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Mantenimiento de prestamos</title>
</head>
<body>
	<div>
		<br>
		<h2 th:if="${listaPrestamosDTO.isEmpty()}">No hay prestamos</h2>
		<div th:if="${!listaPrestamosDTO.isEmpty()}">
			<h2>Mantenimiento de Prestamos</h2>
			<table border="1">
				<thead>
					<tr>
						<td>id</td>
						<td>Numero</td>
						<td>Importe</td>
						<td>Interes</td>					
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${listaPrestamosDTO}">
						<!-- Mostramos el id del clienteDTO que esta en item, que es la lista -->
						<td><a
							th:href="@{/clientes/{idCliente}/prestamos/{idPrestamo} (idCliente=${item.clienteDTO.id},idPrestamo=${item.id})}"
							th:text="${item.id}"></a></td>
						<td th:text="${item.numero}" />
						<td th:text="${item.importe}" />
						<td th:text="${item.tipoInteres}" />						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<br>
	<div>
		<!-- Mostramos el id del clienteDTO que esta en el modelo. Aqui la lista ya ha sido recorrida y no hay nada en item -->
		<a th:href="@{/clientes/{idCliente}/prestamos/add (idCliente=${clienteDTO.id})}">Nuevo prestamos</a> 
		<br> 
		<a th:href="@{/clientes}">Volver a clientes</a>
	</div>
</body>
</html>