<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Mantenimiento de cuentas</title>
</head>
<body>
	<div>
		<br>
		<h2 th:if="${listaCuentasDTO.isEmpty()}">No hay cuentas para el cliente 
			<td th:utext="${clienteDTO.nombre}"></td> <td th:utext="${clienteDTO.apellidos}"></td>
		</h2>
		<div th:if="${!listaCuentasDTO.isEmpty()}">
			<h2>Mantenimiento de cuentas del cliente 
				<td th:utext="${clienteDTO.nombre}"></td> <td th:utext="${clienteDTO.apellidos}"></td>
			</h2>
			<br>
			<table border="1">
				<thead>
					<tr>
						<th>id</th>
						<th>Banco</th>
						<th>Sucursal</th>
						<th>dc</th>
						<th>Número de cuenta</th>
						<th>Saldo actual</th>
						<th>Movimientos</th>
						<th>Eliminar</th>					
					</tr>
				</thead>
				<tbody>
					<tr th:each="cuenta : ${listaCuentasDTO}">
						<td th:utext="${cuenta.id}">...</td>
						<td th:utext="${cuenta.banco}">...</td>
						<td th:utext="${cuenta.sucursal}">...</td>
						<td th:utext="${cuenta.dc}">...</td>
						<td th:utext="${cuenta.numeroCuenta}">...</td>
						<td th:utext="${cuenta.saldoActual}">...</td>
						<td><a th:href="@{/clientes/{idCliente}/cuentas/movimientos/(idCliente=${clienteDTO.id})}">Visualizar movimientos</a></td>
						<td><a th:href="@{/clientes/{idCliente}/cuentas/delete/{idCuenta}(idCliente=${clienteDTO.id},idCuenta=${cuenta.id})}">Eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<br>
		<div>
			<a th:href="@{/clientes/{idCliente}/cuentas/add (idCliente=${clienteDTO.id})}">Nueva cuenta</a>
			<br>
			<a th:href="@{/clientes}">Volver a la lista de clientes</a>
		</div>
	</div>
</body>
</html>
