<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Mantenimiento de direcciones</title>
</head>
<body>
	<div>
		<br>
		<h2 th:if="${listaDireccionesDTO.isEmpty()}">No hay direcciones para el cliente 
			<td th:utext="${clienteDTO.nombre}"></td> <td th:utext="${clienteDTO.apellidos}"></td>
		</h2>
		<div th:if="${!listaDireccionesDTO.isEmpty()}">
			<h2>Mantenimiento de direcciones del cliente 
				<td th:utext="${clienteDTO.nombre}"></td> <td th:utext="${clienteDTO.apellidos}"></td>
			</h2>
			<br>
			<table border="1">
				<thead>
					<tr>
						<th>id</th>
						<th>Direccion</th>
						<th>País</th>
						<th>CP</th>					
					</tr>
				</thead>
				<tbody>
					<tr th:each="direccionDTO : ${listaDireccionesDTO}">
						<td th:utext="${direccionDTO.id}">...</td>
						<td th:utext="${direccionDTO.descripcion}">...</td>
						<td th:utext="${direccionDTO.pais}">...</td>
						<td th:utext="${direccionDTO.cp}">...</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br>
		<div>
			<a th:href="@{/clientes/{idCliente}/direcciones/add (idCliente=${clienteDTO.id})}" >Nueva direccion</a>
			</br>
			<a th:href="@{/clientes/{idCliente}/direcciones/addselect (idCliente=${clienteDTO.id})}" >Añadir dirección ya existente</a>
			</br>			
			<a th:href="@{/clientes}">Volver a la lista de clientes</a>
		</div>
	</div>
</body>
</html>
