<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Mantenimiento de clientes</title>
</head>
<body>
	<div>
		<br>
		<h2 th:if="${listaClientesDTO.isEmpty()}">No hay clientes</h2>
		<div th:if="${!listaClientesDTO.isEmpty()}">
			<h2>Mantenimiento de clientes</h2>
			<table border="1">
				<thead>
					<tr>
						<td>id</td>
						<td>Nombre</td>
						<td>Apellidos</td>
						<td>NIF</td>
						<td>Correo electrónico</td>
						<td>Editar</td>
						<td>Eliminar</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${listaClientesDTO}">
						<td><a
							th:href="@{/clientes/{idCliente}(idCliente=${item.id})}"
							th:text="${item.id}"></a></td>
						<td th:text="${item.nombre}" />
						<td th:text="${item.apellidos}" />
						<td th:text="${item.nif}" />
						<td th:text="${item.email}" />
						<td><a
							th:href="@{/clientes/update/{idCliente}(idCliente=${item.id})}" />Editar</a></td>
						<td><a
							th:href="@{/clientes/delete/{idCliente}(idCliente=${item.id})}" />Eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<br>
	<div>
		<a th:href="@{/clientes/add}">Agregar</a> 
    <br> 
    <a th:href="@{/}">Volver al inicio</a>
	</div>
</body>
</html>