<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Mantenimiento de cliente</title>
</head>
<body>
	<br>
	<h2 th:if="${listaClientesDTO.isEmpty()}">No hay clientes</h2>
	<div th:if="${!listaClientesDTO.isEmpty()}">
		<h2>Mantenimiento de clientes</h2>
		<table border="1">
			<thead>
				<tr>
					<th>id</th>
					<th>Nombre</th>
					<th>Apellidos</th>
					<th>NIF</th>
					<th>Correo Electrónico</th>
					<th>Editar</th>
					<th>Eliminar</th>
					<th>Cuentas</th>
					<th>Direcciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${listaClientesDTO}">
					<td><a
						th:href="@{/clientes/{idCliente} (idCliente=${item.id})}"
						th:text="${item.id}"></a></td>
					<td th:text="${item.nombre}"></td>
					<td th:text="${item.apellidos}"></td>
					<td th:text="${item.nif}"></td>
					<td th:text="${item.email}"></td>
					<td><a th:href="@{/clientes/update/{idCliente} (idCliente=${item.id})}">Editar</a></td>
					<td><a th:href="@{/clientes/delete/{idCliente} (idCliente=${item.id})}">Eliminar</a></td>
					<td><a th:href="@{/clientes/{idCliente}/cuentas (idCliente=${item.id})}">Mostrar Cuentas</a></td>
					<td><a th:href="@{/clientes/{idCliente}/direcciones (idCliente=${item.id})}">Mostrar Direcciones</a></td>					
				</tr>
			</tbody>
		</table>
	</div>
	<br>
	<div>
		<a th:href="@{/clientes/add}">Agregar</a>
		<br>
		<a th:href="@{/}">Volver al inicio</a>		
	</div>
</body>
</html>